* {
    margin: 0;
    padding: 0;
    color: rgb(214, 214, 214);
    scroll-behavior:smooth;
    
}

html {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


/* NAV BAR START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav {
    color: rgb(134, 134, 134);
    display:flex;
    align-items:center;
    height: 4em;
    width: 100%;
    position: fixed;
    background-color: #202020;
    opacity:.95;
    transition: all .3s ease-in-out;
}
#nav-links {
    display:flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;
    
    
    
    
}
ul, a{
    list-style: none;
    color:inherit;
    text-decoration:none;
}
.link {
    transition:all .2s ease-in-out;
}
.link:hover {
    color:white;
    transition:all .2s ease-in-out;
}



.active-nav {
    letter-spacing: 7px;
    transition:all .3s ease-in-out;
    border-bottom: 1px solid rgb(134, 134, 134);

}
/* NAV BAR END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* GENERIC CLASSES  START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.backdrop {
    padding:1em;
    background-color:rgb(134, 134, 134, .2);
    border-radius: 20px;
}
.off-white {
    color: rgb(134, 134, 134);
}
.left-menu {
    font-weight: 400;
    font-size: 2rem;
}
h1 {
    font-weight: 400;
    font-size: 2.5rem;
}
.center-text {
    text-align:center;
}
.link-styling {
    color: rgb(134, 134, 134);
}
.semi-bold {
    font-weight: 600;
}

.thin-h1 {
    padding-bottom: 2em;
    padding-top:2em;
    font-weight:200;
}
.img-small {
    width: 5em;
    height: 5em;
    padding-bottom: 1em;
    padding-top: 1em;
}
.home-h1 {
    font-weight: 200;
    font-style:italic;
    letter-spacing: 3px;
}
.name-styling {
    font-weight: 600;
    letter-spacing:2px;

}
/* GENERIC CLASSES END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* HOME START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#home {
    width: 100%;
    height: 100%;
    background-image: url(home.jpg);
    background-size:cover;
    
}

#text-wrapper {
    padding-top: 15em;
    display: flex;
    flex-direction:column;
    width: 50em;
    
}
#home-wrapper {
    display: flex;
    justify-content:center;
}
/* HOME END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ABOUT START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#about {
    width: 100%;
    height: 50em;
    background-color:rgb(102, 71, 71);
}
#about-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding-top:5em;
}
#about-img {
    width:20em;
    border-radius:2%;
}
#about-paragraph {
    width: 20em;    
    padding-top:5em;
}
/* ABOUT END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* EXPERIENCE START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#experience {
    width: 100%;
    height: 30em;
    background-color:#202020;
}
#img-wrapper {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
/* EXPERIENCE END ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* HOBBIES START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#hobbies {
    background-color:rgb(102, 71, 71);
    width: 100%;
    height: 33em;
}
.hobbie-list {
    font-size: 1.5rem;
    font-weight: 200;
    padding:1em;
    background-color:rgb(10, 10, 10, .2);
    border-radius:5%;
}
#hobbies-wrapper {
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content:space-around;
}

/* CONTACT START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contact {
    height: 10em;
    width: 100%;
    background-color: #202020;
}
#button-wrapper {
    display:flex;
    justify-content:space-around;
    padding-top: 2.5em;
    width: 30%;
    height: 100%;

    
}
#button-wrapper-wrapper {
    display:flex;
    justify-content:center;
}
.btn {
    max-height: 3em;
    font-size: 1.25rem;
    font-weight: 200;
    padding: 1em;
    background-color:rgb(102, 71, 71);
    border-radius: 5px;
    border:none;
    transition:all .2s ease-in-out;
    cursor:pointer;
}

.btn:hover {
    opacity: 0.8;
    background-color:#353535;
    color:#dbdbdb;
    transition:all .2s ease-in-out;
}



/* CONTACT END~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* MEDIA QUERIES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width:1130px) {
    #text-wrapper {
        align-items:center;
    }
}

@media only screen and (max-width: 800px) {
    .name-styling {
        padding-bottom: 4em;
        padding-top: 2em;
    }

}

